{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des genres</h1>

    <table>
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td><a href="{{ path('genre_show', { 'id': genre.id }) }}">{{ genre.libelle }}</a></td>
                <td>{{ genre.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('genre_show', { 'id': genre.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('genre_edit', { 'id': genre.id }) }}">Éditer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('genre_new') }}">Créer un nouveau genre</a>
        </li>
    </ul>
{% endblock %}
