{% extends 'base.html.twig' %}

{% block body %}
    <h1>Genre</h1>

    <table>
        <tbody>
            <tr>
                <th>Libellé</th>
                <td>{{ genre.libelle }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('genre_index') }}">Revenir à la liste</a>
        </li>
        <li>
            <a href="{{ path('genre_edit', { 'slug': genre.slug }) }}">Éditer</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
