{% extends "::base.html.twig" %}

{% block title %}Cinéma - Accueil{% endblock %}

{% block body %}
<h1>Accueil</h1>
<div class="panel panel-default">
    <div class="panel-heading">À l'affiche</div>
    <div class="panel-body">
        {% for film in films %}
        <a href="{{ path('film_show', { 'slug': film.slug }) }}" class="cinema-lien-tuile">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="thumbnail cinema-ajouter-film">
                    <img src="{{ film.titre }}" alt="Affiche de {{ film.titre }}">
                    <div class="caption">
                        {% if film.duree %}
                        <span class="label label-info">{{ film.duree | date('H') }}h{% if film.duree | date('i') != 0 %}{{ film.duree | date('i') }}{% endif %}</span>
                        {% endif %}
                        {% if film.dateSortie %}<span class="label label-info">{{ film.dateSortie | date('Y') }}</span>{% endif %}
                        
                        <h3>{{ film.titre }}</h3>
                        <p class="cinema-films-courte-description">{{ film.synopsis | slice(0, 400) | raw }}...</p>
                        <p>
                            <a href="{{ path('film_edit', { 'id': film.id }) }}" class="btn btn-primary" role="button">Éditer</a> 
                            <a href="{{ path('film_show', { 'id': film.id }) }}" class="btn btn-default" role="button">Plus d'infos...</a>
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
