{% extends 'base.html.twig' %}

{% block body %}
    <div class="row cinema-titre-page">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h1>Édition d'un film</h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cinema-bouton-page">
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Sauvegarder
        </button>
    {{ form_end(edit_form) }}
{% endblock %}
