{% extends 'base.html.twig' %}

{% block body %}
    <h1>Film</h1>

    <div class="jumbotron">
        <div class="container">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <h2>{{ film.titre }}</h2>
                <p>
                    {% if film.duree %}
                    <span class="label label-info">{{ film.duree | date('H') }}h{% if film.duree | date('i') != 0 %}{{ film.duree | date('i') }}{% endif %}</span>
                    {% endif %}
                    {% if film.dateSortie %}<span class="label label-info">{{ film.dateSortie | date('Y') }}</span>{% endif %}
                </p>
                <hr>
                <p><strong>Réalisateur</strong> {{ film.extRealisateur }}</p>
                <hr>
                <p>
                    <strong>Acteurs</strong>
                    {% for acteur in film.extActeur %}
                    <p>
                        {{ acteur }}
                    </p>
                    {% endfor %}
                </p>
                <hr>
                <p><strong>Synopsis</strong></p>
                <div class="panel panel-default"><div class="panel-body">
                    <p><div class="text-muted">{{ film.synopsis | raw }}</div></p>
                </div></div>
            </div>
            <p><a class="btn btn-default btn-lg" href="{{ path('film_edit', { 'id': film.id }) }}" role="button">Éditer</a></p>
        </div>
    </div>
{% endblock %}
